In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:/Users/bikki/Downloads/car price.csv")
df

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,Cabriolet,Yes,Petrol,2.3 Turbo,75000.0,Tiptronic,Rear,02-03-2023,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,Jeep,No,Petrol,2.4,142000.0,Automatic,4x4,02-03-2023,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,Jeep,No,Petrol,2,91000.0,Automatic,4x4,02-03-2023,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,Jeep,No,Petrol,1.6,98000.0,Automatic,4x4,02-03-2023,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,Jeep,No,Petrol,0.7,314000.0,Manual,4x4,02-03-2023,Right-hand drive,Silver,2.0,43910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,45602856,LEXUS,IS 250,2015,Sedan,Yes,Petrol,2.5,90000.0,Tiptronic,Rear,05-05-2023,Left wheel,Silver,8.0,376330
4815,45089354,BMW,528,2014,Sedan,Yes,Petrol,2.0 Turbo,70000.0,Tiptronic,Rear,05-05-2023,Left wheel,Black,10.0,454730
4816,45264871,FORD,Escape,2011,Jeep,Yes,Petrol,3,104000.0,Automatic,4x4,05-05-2023,Left wheel,Black,6.0,166210
4817,45510310,TOYOTA,Land Cruiser,2008,Jeep,Yes,Petrol,4.7,138000.0,Automatic,4x4,05-05-2023,Left wheel,Black,10.0,517460
4818,45801572,MERCEDES-BENZ,E 350,2012,Sedan,Yes,Petrol,3.5,130000.0,Automatic,4x4,05-05-2023,Left wheel,Black,10.0,141130

### **Data Cleaning**

In [4]:
df['Selling_Date']=pd.to_datetime(df['Selling_Date'],dayfirst=True,errors='coerce')

In [5]:
df['Engine Volume'] = [col.replace('Turbo',"") for col in df['Engine Volume']]
df['Engine Volume'] = pd.to_numeric(df['Engine Volume'], errors='coerce')

In [6]:
df.head(5)

,Id,Manufacturer,Model,Prod_Year,Category,Leather_Interioe,Fuel_Type,Engine Volume,Kilometers_Driven,Gear_Box_Type,Drive_Wheel,Selling_Date,Wheel,Color,Airbags,Price
0,45624039,FORD,Mustang,2016,Cabriolet,Yes,Petrol,2.3,75000.0,Tiptronic,Rear,2023-03-02,Left wheel,Silver,6.0,423370
1,45766794,MITSUBISHI,Pajero,1997,Jeep,No,Petrol,2.4,142000.0,Automatic,4x4,2023-03-02,Left wheel,Blue,6.0,156810
2,45709646,TOYOTA,RAV 4,2001,Jeep,No,Petrol,2.0,91000.0,Automatic,4x4,2023-03-02,Right-hand drive,Silver,4.0,108200
3,45816588,SUZUKI,Grand Vitara,2008,Jeep,No,Petrol,1.6,98000.0,Automatic,4x4,2023-03-02,Left wheel,Black,12.0,156810
4,45759758,MITSUBISHI,Pajero Mini,2006,Jeep,No,Petrol,0.7,314000.0,Manual,4x4,2023-03-02,Right-hand drive,Silver,2.0,43910

In [7]:
df.isnull().sum()

Id                     0
Manufacturer           0
Model                  0
Prod_Year              0
Category               0
Leather_Interioe       0
Fuel_Type              0
Engine Volume          0
Kilometers_Driven     86
Gear_Box_Type          0
Drive_Wheel            0
Selling_Date           0
Wheel                  0
Color                  0
Airbags              169
Price                  0
dtype: int64

In [8]:
df.fillna(df.Kilometers_Driven.mean(),inplace=True)
df.fillna(df.Airbags.mean(),inplace=True)

In [9]:
df.isnull().sum()

Id                   0
Manufacturer         0
Model                0
Prod_Year            0
Category             0
Leather_Interioe     0
Fuel_Type            0
Engine Volume        0
Kilometers_Driven    0
Gear_Box_Type        0
Drive_Wheel          0
Selling_Date         0
Wheel                0
Color                0
Airbags              0
Price                0
dtype: int64

###  2.	Label Encoding:

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
df.columns

Index(['Id', 'Manufacturer', 'Model', 'Prod_Year', 'Category',
       'Leather_Interioe', 'Fuel_Type', 'Engine Volume', 'Kilometers_Driven',
       'Gear_Box_Type', 'Drive_Wheel', 'Selling_Date', 'Wheel', 'Color',
       'Airbags', 'Price'],
      dtype='object')

In [13]:
df['Manufacturer'] = le.fit_transform(df['Manufacturer'])
df['Category'] = le.fit_transform(df['Category'])
df['Leather_Interioe'] = le.fit_transform(df['Leather_Interioe'])
df['Gear_Box_Type'] = le.fit_transform(df['Gear_Box_Type'])
df['Drive_Wheel'] = le.fit_transform(df['Drive_Wheel'])
df['Wheel'] = le.fit_transform(df['Wheel'])
df['Color'] = le.fit_transform(df['Color'])

###  3.	One-Hot Encoding:

In [14]:
one_hot_encode = ['Model', 'Drive_Wheel','Leather_Interioe','Fuel_Type','Category']

In [15]:
df_one_hot = pd.get_dummies(df, columns=one_hot_encode, drop_first=True, dtype=int)

In [16]:
df_combined= pd.concat([df, df_one_hot], axis=1)
df_combined.drop(columns=one_hot_encode, inplace=True)

In [17]:
df_combined

,Id,Manufacturer,Prod_Year,Engine Volume,Kilometers_Driven,Gear_Box_Type,Selling_Date,Wheel,Color,Airbags,...,Model_macan,Drive_Wheel_1,Drive_Wheel_2,Leather_Interioe_1,Fuel_Type_Diesel,Fuel_Type_Hybrid,Fuel_Type_Petrol,Category_1,Category_2,Category_3
0,45624039,13,2016,2.3,75000.0,2,2023-03-02,0,12,6.0,...,0,0,1,1,0,0,1,0,0,0
1,45766794,34,1997,2.4,142000.0,0,2023-03-02,0,2,6.0,...,0,0,0,0,0,0,1,1,0,0
2,45709646,45,2001,2.0,91000.0,0,2023-03-02,1,12,4.0,...,0,0,0,0,0,0,1,1,0,0
3,45816588,43,2008,1.6,98000.0,0,2023-03-02,0,1,12.0,...,0,0,0,0,0,0,1,1,0,0
4,45759758,34,2006,0.7,314000.0,1,2023-03-02,1,12,2.0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,45602856,27,2015,2.5,90000.0,2,2023-05-05,0,12,8.0,...,0,0,1,1,0,0,1,0,0,1
4815,45089354,3,2014,2.0,70000.0,2,2023-05-05,0,1,10.0,...,0,0,1,1,0,0,1,0,0,1
4816,45264871,13,2011,3.0,104000.0,0,2023-05-05,0,1,6.0,...,0,0,0,1,0,0,1,1,0,0
4817,45510310,45,2008,4.7,138000.0,0,2023-05-05,0,1,10.0,...,0,0,0,1,0,0,1,1,0,0
4818,45801572,31,2012,3.5,130000.0,0,2023-05-05,0,1,10.0,...,0,0,0,1,0,0,1,0,0,1